@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url(fondo.css);
@import url(header.css);
@import url(inicio.css);
@import url(proyectos.css);
@import url(sobre-mi.css);
@import url(footer.css);
@import url(responsive.css);
@import url(cursor.css);

html {
    scroll-behavior: smooth;
    cursor: none;
}
body {
    font-family: 'alice', Arial, Helvetica, sans-serif;
    text-align: center;
    min-height: 100vh;
    color: rgb(255, 255, 255);
}
a {
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    cursor: none;
}

.main {
    margin: 1em 0;
}
.main .seccion {
    min-height: 100vh;
    margin: 1em 0;
    animation: hola 1.5s linear both;
    
    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;  
}
.main .seccion .h2 {
    font-size: 3rem;
    text-shadow: 5px 5px 9px;
}

/*algunos efectos*/

@keyframes hola {
    from{opacity: 0;
        transform:translateY(5%)}
        to{opacity: 1;
            transform:translateY(0%)}
        }
        .svg {
    transform: scale(1);
    transition: ease-out .5s;
}
.svg:hover{
    transform: scale(1.3);
    transition: ease-out 1s;
}
